.summary{
    text-align: center;
    margin: auto;
    margin-top: -10rem;
    max-width: 45rem;
    width: 70%;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: black;
    background: #baca86;
    color: black;
    padding: 0 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.5);
    animation: zoom 500ms ease-in-out forwards;
   
}

.summary h2{
    font-size: 25px;
    margin-top: 10px;
}


@keyframes zoom{
    from{
        opacity: 0;
        transform: scale(0.3);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}