.form {
    margin: 1rem 0;
    height: 19rem;
    
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label ,
  .invalid label{
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
  }
  
  .control input,
  .invalid input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
  }
  
  .actions {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .actions button {
    font: inherit;
    color: #a0c133;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem; 
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ddf490;
  }
  
  .actions .submit {
    border: 1px solid #a0c133;
    background-color: #a0c133;
    color: white;
  }
  
  .actions .submit:hover,
  .actions .submit:active {
    background-color: #a0c133;
  }
  
  .invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
    
  }
  .error{
    color: #ca3e51;
  }